<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styleFile.css">
</head>
<body>
    <header>
        <p id="logo"><a href="/" >LifeTips</a></p>
        <ul>
            <li class="headList"><a href="/">Home</a></li>
            <li class="headList"><a href="/about">About</a></li>
            <li class="headList"><a href="/contact">Contact</a></li>
        </ul>
    </header>
    {{{ body }}}
    <footer>
        <div id="shortAbt">
            <p id="footAbt"> About Health Tips</p>
            <hr id="abtHr">
            <p class="abtContent">Fugiat quas eveniet voluptatem natus. Placeat error temporibus magnam sunt optio aliquam.
                 Ut ut occaecati placeat at. Fuga fugit ea autem.
                 Dignissimos voluptate repellat occaecati minima dignissimos mollitia consequatur.
                 Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. 
                Culpa error temporibus magnam est voluptatem.</p>
        </div>
        <div id="newsLetter">
            <p id="newsAbt"> Our NewsLetter</p>
            <hr id="abtHr">
            <p class="abtContent">Sit vel delectus amet officiis repudiandae est voluptatem. 
                Tempora maxime provident nisi et fuga et enim exercitationem ipsam. 
                Culpa consequatur occaecati.
            </p>
            <p id="copyright">
                Copyright ©2018 All rights reserved
            </p>
        </div>
    </footer>
</body>
</html>

