<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>500 page</title>
    <link rel="stylesheet" href="/Styles/styleFile.css">
</head>
<body>
    <header>
        <h1 class="logo"><a href="/">Life Tips</a></h1>
        <ul>
            <li class="headList"><a href="/">Home</a></li>
            <li class="headList"><a href="/about">About</a></li>
            <li class="category">Category
                <div class="dropdownContent">
                    <a href="/category/Lifestyle">lifestyle</a>
                        <a href="/category/Music">Music</a>
                        <a href="/category/Design">Design</a>
                        <a href="/category/Travel">Travels</a>
                </div>
            </li>
            <li class="headList"><a href="/contact">Contact</a></li>
        </ul>
    </header>
    <!--Remainder of the Body-->
    <div style="height: 240px; text-align: center; color: red;">
        <h1 style="font-size: 40px;
        font-family: Times New Roman; padding-top: 40px;">500 - Server Error</h1>
        <p style="font-size: 20px;">Our techical teeam will fix this shortly</p>
        <p><a href="/" style="font-size: 20px; color: green;">click here to go back to home</a></p>
    </div>
    <!--FOOTER SEction-->
    <footer>
        <div id="shortAbt">
            <p id="footAbt"> About Health Tips</p>
            <hr id="abtHr">
            <p class="abtContent">Fugiat quas eveniet voluptatem natus. Placeat error temporibus magnam sunt optio aliquam.
                 Ut ut occaecati placeat at. Fuga fugit ea autem.
                 Dignissimos voluptate repellat occaecati minima dignissimos mollitia consequatur.
                 Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. 
                Culpa error temporibus magnam est voluptatem.</p>
        </div>
        <div id="newsLetter">
            <p id="newsAbt"> Our NewsLetter</p>
            <hr id="abtHr">
            <p class="abtContent">Sit vel delectus amet officiis repudiandae est voluptatem. 
                Tempora maxime provident nisi et fuga et enim exercitationem ipsam. 
                Culpa consequatur occaecati.
            </p>
            <p id="copyright">
                Copyright ©2018 All rights reserved
            </p>
        </div>
    </footer>
</body>
</html>