<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/Styles/genStyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Styles/contactG.css" />
    <script src="/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div id="pageContent">
        <header>
            <h1 class="logo"><a href="/">Life Tips</a></h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="category">Category
                    <div class="dropdownContent">
                        <a href="/category/Lifestyle">lifestyle</a>
                        <a href="/category/Music">Music</a>
                        <a href="/category/Design">Design</a>
                        <a href="/category/Travel">Travels</a>
                    </div>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div>
                <div class="bars">
                    <p><i class="fa fa-bars fa-2x"></i>Menu</p>
                </div>
            </div>

        </header>
        <section>section</section>
        <main>
            <div id="Intro">
                <p class="abtHeader">Contact Us.</p>
                <hr id="line">
                <p class="shortAbout">
                    Duis ex ad cupidatat tempor Excepteur cillum 
                    cupidatat fugiat nostrud cupidatat dolor sunt sint 
                    sit nisi est eu exercitation incididunt adipisicing
                    veniam velit id fugiat enim mollit amet 
                    anim veniam dolor dolor irure velit 
                    commodo.
                </p>
            </div>
            <div id="pic">
                <img class="image" src="/images/contact.jpg" alt="contact page">
            </div>
            <div id="Hello">
                <h2 id="hello">Say Hello</h2>
                <p class="helloContent">
                    Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                    
                    Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi est eu exercitation incididunt adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor dolor irure velit commodo cillum sit nulla ullamco. Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat aute.
                </p>
            </div>
            <div id="info">
                <div id="where">
                    <p class="heads">Where to Find Us.</p>
                    <p class="address">
                        1600 Amphitheatre Parkway
                        Mountain View, CA
                        94043 US
                    </p>
                </div>
                <div id="contact">
                    <p class="heads">Contact Info</p>
                    <p class="address">
                        egbeolowoakorede97@gamil.com
                        akoredeegbeolowo@yahoo.com 
                        Phone: (+234) 811 1585 0688
                    </p>
                </div>
            </div>
            <form id="message" method="POST" action="/admin/messages">
                <p class="getLabel">Get In Touch</p>
                
                <input class="info" type="text" placeholder="Your Name*">
                <input class="info" type="email" placeholder="Your Email*">
                <textarea id="messages" type="text" placeholder="Your Message*"></textarea>
                
                <button id="submit" type="submit">SEND MESSAGE</button>
            </form>
        </main>
        <aside>aside</aside>
        <footer>
            <div id="about">
                <p id="footAbt"> About Health Tips</p>
                <hr id="abtHr">
                <p class="abtContent">Fugiat quas eveniet voluptatem natus. Placeat error temporibus magnam sunt optio aliquam.
                    Ut ut occaecati placeat at. Fuga fugit ea autem.
                    Dignissimos voluptate repellat occaecati minima dignissimos mollitia consequatur.
                    Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. 
                    Culpa error temporibus magnam est voluptatem.
                </p>
                        
            </div>
                            
            <div id="newsLetter">
                <p id="newsAbt"> Our NewsLetter</p>
                <hr id="abtHr">
                <p class="abtContent">Sit vel delectus amet officiis repudiandae est voluptatem. 
                    Tempora maxime provident nisi et fuga et enim exercitationem ipsam. 
                    Culpa consequatur occaecati.
                </p>
                <p id="copyright">
                    Copyright ©2018 All rights reserved
                </p>
            </div>
        </footer>
    </div>    
</body>
<script src="/Scripts/life.js"></script>
</html>