<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Image update panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/Styles/genAdmin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Styles/homeAdmin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Styles/update.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div id="Page">
        <header>
            <div class="bars">
                <p><i class="fa fa-bars fa-1x"></i>Menu</p>
            </div>
            <h1 id="head">Life Tips</h1>
        </header>
        

        <main>
            <img class="images" src="/images/<%= data.Image %>">
            <h2 class="head">change Image</h2>
            
            <form action="/image/<%= data._id %>" method="POST" enctype="multipart/form-data">
                <div id="image">
                    <span>change Image:  </span><input name="image" type="file">
                </div>
                <input id="button" type="submit" value="Update Article Image">
            </form>
        </main>

        <aside>
            <nav>
                <img id="adminImage" alt="admin image">
                <span id="adminName"></span>
                <h3 id="dash"><a href="/admin">Dashboard</a></h3>
                <ul>
                    <li><i class="fa-circle-o  fa-2x"><a href="/admin/posts"></i>Posts</a></li>
                    <li><i></i>Edit About Page</li>
                    <li><i></i>Edit Contact Page</li>
                    <li><i class="fa-envelope-o fa-2x"></i>Messages</li>
                </ul>
            </nav>
        </aside>
</body>
<script src="/Scripts/admin.js"></script>
</html>